body {
    background-image: URL(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

img {
    height: 200px;
}

h1 {
    font-family: 'Anton', sans-serif;
    margin-top: 50px;
}

.container {
    margin: 0px;
    padding-left: 50px;
}

#stats {
    color: white;
}

#attackBtn {
    height: 50px;
    width: 100px;
    background-color: red;
    color: white;
}

#charOneHealth {
    color:white;
}

#charWrap, #enemies, #charChoice {
    display: flex;
    flex-direction: row;
}

#defender #infoCard1 {
    width: 150px;
}

#defender #infoCard2 {
    width: 150px;
}

#defender #infoCard3 {
    width: 150px;
}

#defender #infoCard4 {
    width: 150px;
}