body {
    background-image: URL(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

img {
    height: 200px;
}

h1 {
    font-family: 'Anton', sans-serif;
    margin-top: 50px;
}

.container {
    margin: 0px;
    padding-left: 50px;
}

